main{
    
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto auto;
}
#homeprod{
    
    display: inline;
    flex-direction:row;

    
}
#homeprod img{
    width: 300px;
    height: 300px;
}
#topodesc{
    text-align: start;

}